[Desktop Entry]
Name=Unreal Gold (SDL)
GenericName=Unreal Gold (SDL)
Type=Application
Comment=Gold Edition of Unreal with many new fixes.
Exec=unrealgold-sdl
Icon=unrealgold
Categories=Game
