[Desktop Entry]
Name=Unreal Gold
GenericName=Unreal Gold
Type=Application
Comment=Gold Edition of Unreal with many new fixes.
Exec=unrealgold
Icon=unrealgold
Categories=Game
